.projects {
    &__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__btn-block {
        display: none;
    }
}

@media (min-width: 1220px) {
    .projects {   
        &__wrapper {
            padding-bottom: 220px;
        }

        &__wrapper::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #C4C4C4;
            margin: 0 auto;
        }

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__btn-block {
            display: initial;
        }

        &__slider-block {
            height: 645px;
        }
    }
}