.rights {
    &__wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__info,
    &__policy {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #828282;
    }

    &__info {
        margin-bottom: 14px;
    }

    &__policy {
        font-size: 14px;
        line-height: 17px;

        padding-bottom: 4px;
        border-bottom: 1px solid #828282;
    }
}