.team {
    margin-bottom: 60px;

    &__desktop {
        display: none;
    }

    &__description {
        margin-bottom: 40px;
    }
}

@media (min-width: 1220px) {
    .team {
        &__mobile {
            display: none;
        }

        &__desktop {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 100px;
        }
    }
}