.video {
    &__wrapper {
        padding-top: 50px;
        padding-bottom: 110px;
    }

    &__block {
        max-width: 270px;
    }

    &__play {
        width: 270px;
        height: 174px;
    }

    &__name {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;

        margin-top: 35px;
    }

    &__desc {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #828282;
    }
}