.video {
    &__wrapper {
        padding-top: 50px;
        padding-bottom: 110px;
        overflow: hidden;
    }

    &__play {
        width: 270px;
        height: 203px;
    }

    &__name {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;

        margin-top: 35px;
    }

    &__desc {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #828282;
    }
}

@media (min-width: 1220px) {
    .video {
        &__block {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        &__slide {
            width: initial;
        }

        &__play {
            width: 370px;
            height: 100%;
        }
    }
}