@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneueregular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneuebold.woff') format('woff');
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}