*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    background-color: #262626;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

a,
button,
label {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    overflow: hidden;
    clip: rect(0 0 0 0);
}

.wrapper {
    position: relative;
    max-width: 375px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper--line::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 345px;
    height: 1px;
    background-color: #C4C4C4;
    margin: 0 auto;
}

.text {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

@media (min-width: 1220px) {
    .wrapper {
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .wrapper--line::before {
        width: 1200px;
    }
    .text {
        line-height: 24px;
    }
}