*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    background-color: #262626;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

a,
button,
label {
    cursor: pointer;
}

.none {
    display: none !important; //временный класс
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    overflow: hidden;
    clip: rect(0 0 0 0);
}

.wrapper {
    position: relative;
    max-width: 375px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper--line::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
    margin: 0 auto;
}

.name {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    text-transform: uppercase;

    &--mt {
        margin-top: 20px;
    }

    &--mb {
        margin-bottom: 40px;
    }

    &--pr {
        padding-right: 100px;
    }
}

.text {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.swiper-wrapper {
    height: initial !important;
}

button.swiper-button-next::after,
button.swiper-button-prev::after {
    display: none;
}

button.swiper-button-prev,
button.swiper-button-next {
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;

    width: 85px;
    height: 85px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;

    transition: 0.2s;

    position: initial;
    top: initial;
    margin-top: initial;
    z-index: initial;
    display: initial;
    align-items: initial;
    justify-content: initial;
}

button.swiper-button-next {
    margin-left: 31px;
}

button.swiper-button-prev:hover,
button.swiper-button-next:hover {
    border: none;
    background-color: #83c1fa;
    transition: 0.3s;
}

@media (min-width: 1220px) {
    .wrapper {
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .wrapper--line::before {
        width: 1200px;
    }
    .text {
        line-height: 24px;
    }
}