@import './fonts.scss';
@import './variables.scss';
@import './global.scss';

@import './blocks/header.scss';
@import './blocks/logo.scss';
@import './blocks/nav.scss';
@import './blocks/theme-toggle.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}